<footer>
    <p>
        <span class="system-name">
            © 2022 Система «СППР на основе выбора иерархий»
        </span>
    </p>
    <p>
        <span class="author">
            Mеденцева Юлия Николаевна., ТИС Ставропольский филиал, 2022 год.
        </span>
        <br />
        <span>
            Магистерская диссертация
            <a href="https://guu.ru/">
               Ставропольский филиал ТИС
            </a>
        </span>
    </p>
    <p>
        <a href="https://github.com/Stvoleg/DssAlternative">
            Репозиторий GitHub
        </a>
    </p>
</footer>
